body{
   margin:0px auto;
   padding:0px;
}
#videoback{
    filter: blur(4px);
}
video{
    width: 100%;
    height: 100%;
}
#main{
    width:20rem;
    height:25rem;
    background-color:transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#textInput::placeholder{
    color:white;
    text-align: center;
}
#textInput{
    color:rgb(247, 248, 247);
    position: absolute;
    top: 24%;
    left: 22%;
    height: 2rem;
    border: 1px solid whitesmoke;
    border-radius: 3rem;
    background-color:transparent;
}
#voice{
    color:rgb(247, 248, 247);
    position: absolute;
    top: 35.5%;
    left: 44%;
    height: 2rem;
    border: 1px solid whitesmoke;
    border-radius: 3rem;
    background-color:transparent;
    cursor: pointer;
}
#speaker{
    height: 2rem;
}
#search{
    position: absolute;
    top: 46%;
    left: 37%;
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    transition:0.4s;
    border-radius: 2rem;
    background-color: transparent;
    color:white;
    font-family: 'Abril Fatface', cursive;
}
#loading{
    position: absolute;
    top: 64%;
    left: 45%;
    display: none;
    width: 1rem;
    height: 1rem;
    border: 4px solid black;
    border-radius: 2rem;
    border-top: 4px solid white;
    animation: loading 1s linear infinite;
}
@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#qrimg{
    border-radius: 1rem;
    position: absolute;
    top: 58%;
    left: 26.5%;
}
